<!-- CLIENT NAVBAR -->
<nav class="navbar" *ngIf="hasRole('ROLE_CLIENT')">
  <!-- <nav class="navbar" *ngIf="true"> -->
  <h3 class="banner logo">Client</h3>
  <ul class="nav-links">
    <li><a class="navlink" routerLink="">Home</a></li>
    <li>
      <a class="navlink" routerLink="/getComplaintByClient"
        >View My Complaints</a
      >
    </li>
    <li *ngIf="isLoggedIn()">
      <a class="navlink" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<!-- ENGINEER NAVBAR -->
<nav class="navbar" *ngIf="hasRole('ROLE_ENGINEER')">
  <h3 class="banner logo">Engineer</h3>
  <ul class="nav-links">
    <li><a class="navlink" routerLink="">Home</a></li>
    <li>
      <a class="navlink" routerLink="/getComplaintByEngineer">Complaints</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a class="navlink" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<!-- before login -->
<nav class="navbar" *ngIf="!isLoggedIn()">
  <h3 class="banner logo">{{ isLoggedIn() }}</h3>
  <ul class="nav-links">
    <li><a class="navlink" routerLink="/signUp">Register</a></li>
    <li><a class="navlink" routerLink="/logIn">LogIn</a></li>
    <li *ngIf="isLoggedIn()">
      <a class="navlink" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<!-- <nav class="navbar">
  <h3 class="banner logo">{{ isLoggedIn() }}</h3>
  <ul class="nav-links">
    <li *ngIf="isLoggedIn()">
      <a class="navlink" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav> -->
