<nav class="navbar">
  <h3 class="banner logo">Abc</h3>
  <ul class="nav-links">
    <li><a class="navlink" routerLink="">Home</a></li>
    <li>
      <a class="navlink" routerLink="/getComplaintByClient"
        >View My Complaints</a
      >
    </li>
    <li>
      <a class="navlink" routerLink="/">View All Complaints</a>
    </li>

    <li>
      <a class="navlink" routerLink="/getComplaintByEngineer"
        >Complaints(engg)</a
      >
    </li>
    <!-- <li *ngIf="!isLogin">
      <a class="navlink" routerLink="/logIn">LogIn</a>
    </li> -->
    <li *ngIf="!isLogin">
      <a class="navlink" routerLink="/">Register</a>
    </li>
    <!-- <li class="logOut" *ngIf="isLogin">
      <a class="navlink" (click)="logOut()">Log Out</a>
    </li> -->
  </ul>
</nav>

<!-- engineer -->
<!-- <nav class="navbar">
  <h3 class="banner logo">Abc</h3>
  <ul class="nav-links">
    <li><a class="navlink" routerLink="">Home</a></li>
    <li>
      <a class="navlink" routerLink="/getComplaintByClient"
        >View My Complaints</a
      >
    </li>
    <li>
      <a class="navlink" routerLink="/">View All Complaints</a>
    </li>

    <li>
      <a class="navlink" routerLink="/getComplaintByEngineer"
        >Complaints(engg)</a
      >
    </li>

    <li *ngIf="!isLogin">
      <a class="navlink" routerLink="/">Register</a>
    </li>

  </ul>
</nav> -->
