<!-- complaint data -->
<!-- <div class="card1" *ngIf="dataComplaint">
  <div class="id">
    <p>complaintId</p>
    <span>{{ dataComplaint?.complaintId }}</span>
  </div>
  <div class="name">
    <p>productModelNumber</p>
    <span>{{ dataComplaint?.productModelNumber }}</span>
  </div>
  <div class="age">
    <p>complaintName</p>
    <span>{{ dataComplaint?.complaintName }}</span>
  </div>
  <div class="salery">
    <p>status</p>
    <span>{{ dataComplaint?.status }}</span>
  </div>
  <div class="department">
    <p>clientId</p>
    <span>{{ dataComplaint?.clientId }}</span>
  </div>
  <div class="department">
    <p>engineerId</p>
    <span>{{ dataComplaint?.engineerId }}</span>
  </div>
  <div class="department">
    <p>dateOfComplaint</p>
    <span>{{ dataComplaint?.dateOfComplaint }}</span>
  </div>
  <div class="department">
    <p>resolvedDate</p>
    <span>{{ dataComplaint?.resolvedDate }}</span>
  </div>
  <div class="department">
    <p>priority</p>
    <span>{{ dataComplaint?.priority }}</span>
  </div>
</div> -->

<!-- client Data -->
<!-- <div class="card1" *ngIf="dataClient">
  <div class="id">
    <p>CLient Id</p>
    <span>{{ dataClient?.clientId }}</span>
  </div>
  <div class="name">
    <p>Client Name</p>
    <span>{{ dataClient?.clientName }}</span>
  </div>
  <div class="address">
    <p>Address</p>
    <span>{{ dataClient?.address }}</span>
  </div>
  <div class="phone">
    <p>Phone Number</p>
    <span>{{ dataClient?.phoneNumber }}</span>
  </div>
</div> -->

<div class="container">
  <div class="complaint-card">
    <p>Complaint ID: {{ dataComplaint?.complaintId }}</p>
    <p>Product Model Number: {{ dataComplaint?.productModelNumber }}</p>
    <p>Complaint Name: {{ dataComplaint?.complaintName }}</p>
    <p>Status: {{ dataComplaint?.status }}</p>
    <p>Client ID: {{ dataComplaint?.clientId }}</p>
    <p>Engineer ID: {{ dataComplaint?.engineerId }}</p>
    <p>Date of Complaint: {{ dataComplaint?.dateOfComplaint }}</p>
    <p>Resolved Date: {{ dataComplaint?.resolvedDate }}</p>
    <p>Priority: {{ dataComplaint?.priority }}</p>
  </div>
  <div class="client-card">
    <p>Client ID: {{ dataClient?.clientId }}</p>
    <p>Client Name: {{ dataClient?.clientName }}</p>
    <p>Address: {{ dataClient?.address }}</p>
    <p>Phone Number: {{ dataClient?.phoneNumber }}</p>
  </div>
</div>
