/* *{

} */
.banner {
  margin-top: 30px;
}
div {
  text-align: center;
}
label {
  text-align: left;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  margin: 15px 20px;
}

.btn {
  grid-column: 1/-1;
  margin: 20px;
}
