<div>
  <button (click)="Sorted()">Sort</button>
</div>
<div class="main">
  <div class="cardA" *ngFor="let data of result">
    <div
      (click)="ComplaintById(data.complaintId, data.clientId)"
      class="sub-card"
    >
      <div class="id">
        <p>complaintId</p>
        <span>{{ data.complaintId }}</span>
      </div>
      <div class="name">
        <p>productModelNumber</p>
        <span>{{ data.productModelNumber }}</span>
      </div>
      <div class="age">
        <p>complaintName</p>
        <span>{{ data.complaintName }}</span>
      </div>
      <div class="age">
        <p>Priority</p>
        <span>{{ data.priority }}</span>
      </div>
    </div>
  </div>
</div>
