<!-- <div class="main">
  <div (click)="complaint('AC')" class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>

  <div class="card1">
    <div class="id">
      <p>Id</p>
      <span>some thing</span>
    </div>
    <div class="name">
      <p>Name</p>
      <span>some thing</span>
    </div>
    <div class="age">
      <p>Age</p>
      <span>some thing</span>
    </div>
  </div>
</div> -->
