<div class="card1" *ngIf="data">
  <div class="id">
    <p>complaintId</p>
    <span>{{ data?.complaintId }}</span>
  </div>
  <div class="name">
    <p>productModelNumber</p>
    <span>{{ data?.productModelNumber }}</span>
  </div>
  <div class="age">
    <p>complaintName</p>
    <span>{{ data?.complaintName }}</span>
  </div>
  <div class="salery">
    <p>status</p>
    <span>{{ data?.status }}</span>
  </div>
  <div class="department">
    <p>clientId</p>
    <span>{{ data?.clientId }}</span>
  </div>
  <div class="department">
    <p>engineerId</p>
    <span>{{ data?.engineerId }}</span>
  </div>
  <div class="department">
    <p>dateOfComplaint</p>
    <span>{{ data?.dateOfComplaint }}</span>
  </div>
  <div class="department">
    <p>resolvedDate</p>
    <span>{{ data?.resolvedDate }}</span>
  </div>
  <div class="department">
    <p>priority</p>
    <span>{{ data?.priority }}</span>
  </div>
</div>
